:root {
  --Green: hsl(75, 94%, 57%);

  --White: hsl(0, 0%, 100%);

  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
  --font: "Inter", sans-serif;
}

body {
  background-color: black;
  font-family: var(--font);
  font-size: 0.875rem;
}

.card-container {
  width: 400px;
  padding: 30px;
  border-radius :30px;
  background-color: var(--Grey-900);
  margin: 0px auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: var(--White);
}

img {
  border-radius: 100%;
  width: 100px;
  object-fit: cover;
  object-fit: top;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}

.description > p {
  color: var(--Green);
}
.links-infos {
  width: 250px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.links-infos button {
  font-size: 1rem;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--Grey-700);
  color: white;
  border: none;
}

button a {
    text-decoration: none;
    color: var(--White)
}

.attribution {
  margin-top: 10px;
  font-size: 0.875rem;
  text-align: center;
  color: var(--White);
}
.attribution a {
  color: hsl(228, 45%, 44%);

  text-decoration: none;
}
